fabric
toml
tqdm
urwid
mido
attrs
click
pyserial
watchgod
git+https://github.com/abey79/vpype#egg=vpype
matplotlib
numpy
https://cdn.evilmadscientist.com/dl/ad/public/AxiDraw_API.zip#pyaxidraw


# dev
black
isort
setuptools